/* Style global */
body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(135deg, #f9f9f9, #eae2f2);
    margin: 0;
    padding: 0;
    color: #333;
    overflow-x: hidden;
}

/* En-tête */
header {
    background: linear-gradient(135deg, #6a4c93, #4b2e83);
    color: white;
    text-align: center;
    padding: 40px 20px;
    font-size: 2.5em;
    border-bottom: 5px solid #4b2e83;
    position: relative;
    animation: fadeInDown 1s ease-out;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Ombre portée pour un effet de profondeur */
    border-radius: 10px; /* Coins arrondis */
}

/* Navigation */
nav {
    background-color: #4b2e83;
    color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    animation: fadeIn 1.2s ease-out;
    transition: background-color 0.3s ease; /* Transition douce pour la couleur de fond */
}

nav:hover {
    background-color: #6a4c93; /* Couleur plus claire au survol */
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.3em;
    font-weight: bold;
    transition: color 0.3s ease-in-out, transform 0.3s ease;
    display: inline-block;
}

nav a:hover {
    color: #9f87aa;
    transform: scale(1.1);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); /* Ombre du texte au survol */
}

/* Section d'accueil */
#accueil {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
    background: url('background-bible-love.jpg') no-repeat center center/cover;
    color: white;
    min-height: 80vh;
    position: relative;
    animation: fadeIn 1.5s ease-in-out;
    background-attachment: fixed; /* Effet de parallaxe */
    filter: brightness(0.8); /* Assombrit l'image de fond */
}

#accueil h1 {
    font-size: 3.5em;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    animation: zoomIn 1s ease-out;
}

#accueil p {
    font-size: 1.5em;
    background: rgba(255, 255, 255, 0.918);
    padding: 15px 25px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    animation: fadeInUp 1s ease-out;
}

/* Animations */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInDown {
    0% { opacity: 0; transform: translateY(-30px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes zoomIn {
    0% { transform: scale(0.8); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

@keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}
